node_modules/
.expo/
.expo-shared/
.gradle-user-home/
.gradle-eas-check/
dist-apk/
dist-android-local-check/
dist-android-crash-check/
dist-android-expo-build/
dist-doc-check/
dist/
dist-android-check/
dist-android-check-2/
web-build/
npm-debug.*
.env
credentials.json
android/keystores/
android/.gradle/
android/build/
android/app/build/
